<section>
  <div class="container">
    <p id='notice'><%= notice %></p>
    <h1><strong>Revenues</strong></h1>
    <%= link_to 'New Revenue', new_revenue_path, :class => "form-control btn btn-login reset_pass_button" %>
    <%= smart_listing_controls_for(:revenues, {class: "form-inline text-right"}) do %>
      <div class="form-group filter input-append">
        <%= text_field_tag :filter, '', class: "search form-control", placeholder: "Search by Name...", autocomplete: :off %>
      </div>
    <% end %>
    <br>
    <%= smart_listing_render :revenues %>
  </div>
</section>
