<section>
	<div class="container">

		<%= link_to 'New Expense', new_expense_path, :class => "form-control btn btn-login reset_pass_button" %>

		<p id='notice'><%= notice %></p>
		<h2>Expenses</h2>
		<%= smart_listing_controls_for(:expenses, {class: "form-inline text-right"}) do %>
		  <div class="form-group filter input-append">
		    <%= text_field_tag :filter, '', class: "search form-control", placeholder: "Search by Email...", autocomplete: :off %>
		  </div>
		<% end %>
		<br>
		<%= smart_listing_render :expenses %>
	</div>
</section>