<div class="header-content">

	<p id='notice'><%= notice %></p>


	<h1>Listing Expenses</h1>
	
		<div class="container">
		  <%= high_chart("my_id1", @chart1) do |c| %>
		      <%= raw "options.tooltip.formatter = function() {return '<b> user: '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
		      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
		  <% end %>
		</div>
		<div class="container">
		  <%= high_chart("my_id2", @chart2) do |c| %>
		      <%= raw "options.tooltip.formatter = function() {return '<b> user: '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
		      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
		  <% end %>
		</div>
		<div class="container">
		  <%= high_chart("my_id3", @chart3) do |c| %>
		      <%= raw "options.tooltip.formatter = function() {return '<b> user: '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
		      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
		  <% end %>
		</div>
		<div class="container">
		  <%= high_chart("my_id4", @chart4) do |c| %>
		      <%= raw "options.tooltip.formatter = function() {return '<b> user: '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
		      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
		  <% end %>
		</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
