<div class='header-content'>

	<p id='notice'><%= notice %></p>
	
	<h1>Listing Expenses</h1>

	<div class="container">
		<div class="bs-example">
		    <ul class="nav nav-tabs" id="myTab">
		        <li class="active"><a href="#totalExpensesRevenues">Total of Expenses and Revenues</a></li>
		        <li><a href="#userExpenses">User Expenses</a></li>
		        <li><a href="#userRevenues">User Revenues</a></li>
		        <li><a href="#categorieExpenses">Combination Chart</a></li>
		        <li><a href="#combination">Category Expenses and Revenues</a></li>
		    </ul>
		    <div class="tab-content">
		        <div id="totalExpensesRevenues" class="tab-pane fade in active">
		            <div class="container">
				 		<%= high_chart("my_id0", @balance_chart) do |c| %>
				  		<% end %>
					</div>
		        </div>
		        <div id="userExpenses" class="tab-pane fade">
		        	<div class="container">
				    	<%= high_chart("my_id1", @user_expenses_chart) do |c| %>
				    	
				  		<% end %>
					</div>   
		        </div>
		        <div id="userRevenues" class="tab-pane fade">
		        	<div class="container">
				    	<%= high_chart("my_id2", @user_revenues_chart) do |c| %>
				        
				  		<% end %>
					</div>   
		        </div>
		        <div id="categorieExpenses" class="tab-pane fade">
		        	<div class="container">
				    	<%= high_chart("my_id3", @combination_chart) do |c| %>
				  		<% end %>
					</div>
		        </div>

		        <div id="combination" class="tab-pane fade">
		        	<div class="container">
				    	<%= high_chart("my_id4", @category_balace_chart) do |c| %>
				  		<% end %>
					</div>
		        </div>
			</div>
	    </div>
	</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){ 
    $("#myTab a").click(function(e){
    	e.preventDefault();
    	$(this).tab('show');
    });
    
});
$(window).resize();
</script>
<style type="text/css">
	.bs-example{
		margin: 20px;
	}
</style>
